<link href="/css/devConsole.css" rel="stylesheet">
<link href="/css/jquery.fileupload.css" rel="stylesheet">
<link href="/css/jquery.fileupload-ui.css" rel="stylesheet">
{{> header }}
<div class="container dc-container">
	<div class="dc-page-wrapper">
		<div class="container-fluid dc-page">
			<div class="row table-responsive dc-table-wrapper">
				<table class="table dc-table">
					<thead>
						<tr>
							<th>sr no.</th>
							<th>file name</th>
							<th>project name</th>
							<th>version no.</th>
							<th>uploaded by</th>
							<th>uploaded on</th>
							<th>is production?</th>
							<th>size</th>
							<th>action</th>
						</tr>
					</thead>
					<tbody>
						{{#if file.files}}
						{{#each file.files}}
						<tr class="accordion-toggle {{trclr @index}}">
							<td data-toggle="collapse" data-target="#file{{paddedInc @index}}" class="td-index">{{paddedInc @index}}</td>
							<td data-toggle="collapse" data-target="#file{{paddedInc @index}}" >{{fileName}}</td>
							<td data-toggle="collapse" data-target="#file{{paddedInc @index}}" >{{projectName}}</td>
							<td data-toggle="collapse" data-target="#file{{paddedInc @index}}" >{{appVersionNumber}}</td>
							<td data-toggle="collapse" data-target="#file{{paddedInc @index}}" >{{#if fileUpdatedBy}} {{fileUpdatedBy}} {{else}} {{fileCreatedBy}}{{/if}}</td>
							<td data-toggle="collapse" data-target="#file{{paddedInc @index}}" >{{#if fileUpdatedOn}} {{fileUpdatedOn}} {{else}} {{fileCreatedOn}}{{/if}}</td>
							<td data-toggle="collapse" data-target="#file{{paddedInc @index}}" >{{#if isProduction}} Yes {{else}} No {{/if}}</td>
							<td data-toggle="collapse" data-target="#file{{paddedInc @index}}" >{{fileSize}}</td>
							<td class="td-action-btns">
								<div>
									<button type="button" class="btn btn-success btn-sm" onclick="updateBuild({{json this}})" title="update build">
										<i class="fa fa-repeat"></i>
									</button>
								</div>
								<div>
									<button type="button" class="btn btn-danger btn-sm" onclick="deleteBuild({{json this}})" title="delete build">
										<i class="fa fa-remove"></i>
									</button>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="9" class="danger hiddenRow">
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 accordian-body collapse" id="file{{paddedInc @index}}">
									<div class="row dc-padding-10">
										<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
											<div><b>Project Name:</b> {{projectName}}</div>
											<div><b>App Version No.:</b> {{appVersionNumber}}</div>
											<div><b>Created By:</b> {{fileCreatedBy}}</div>
											{{#if fileUpdatedOn}}
											<div><b>Updated By:</b> {{fileUpdatedBy}}</div>
											{{/if}}
											<div><b>Total Downloads:</b> {{totalDownloads}}</div>
										</div>
										<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
											<div><b>File Name:</b> {{fileName}}</div>
											<div><b>File Size:</b> {{fileSize}}</div>
											<div><b>Created On:</b> {{fileCreatedOn}}</div>
											{{#if fileUpdatedOn}}
											<div><b>Updated On:</b> {{fileUpdatedOn}}</div>
											{{/if}}
											<div><b>Last Downloaded On:</b> {{#if lastDownloadedOn}} {{lastDownloadedOn}} {{else}} Never... hahaha {{/if}}</div>
										</div>
									</div>
									<div class="row dc-padding-10">
										<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<b>Project Description: </b>{{projectDesc}}
										</div>
									</div>
									{{#if dependencies}}
									<div class="row dc-padding-10">
										<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<b>Dependencies: </b>
										</div>
										<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 dc-padding-top-5">
											<b>File Name: </b> {{dependencies.fileName}}
										</div>
										<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 dc-padding-top-5">
											<b>File Purpose: </b> {{dependencies.filePurpose}}
										</div>
									</div>
									{{/if}}
									<div class="row dc-padding-10">
										<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<b>Change Log: </b>{{#if changeLog}}{{else}}Not available{{/if}}
										</div>
										{{#if changeLog}}
										<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
											<ol>
												{{#each changeLog}}
												<li>{{this}}</li>
												{{/each}}
											</ol>
										</div>
										{{/if}}
									</div>
								</div>
							</td>
						</tr>
						{{/each}}
						{{else}}
						<tr>
							<td colspan="12" class="danger">
								No files have been uploaded.
							</td>
						</tr>
						{{/if}}
					</tbody>
				</table>
			</div>
			<div id="uploadBox" class="row dc-upload-box">
				<form id="uploadForm">
					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
						<div class="row dc-padding-10">
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<input type="text" id="uploaderName" placeholder="uploader name"/>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<input type="text" id="appVersionNumber" placeholder="app version number"/>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<input type="password" id="password" placeholder="password"/>
							</div>
						</div>
						<div class="row dc-padding-10">
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<input type="text" id="projectName" placeholder="project name *"/>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<label class="dc-margin-top-5">
									<input type="checkbox" id="doNotDelete" class="dc-upload-checkbox"/> do not delete
								</label>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<label class="dc-margin-top-5">
									<input type="checkbox" id="isProduction" class="dc-upload-checkbox"/> is production?
								</label>
							</div>
						</div>
						<div class="row dc-padding-10">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<textarea id="projectDesc" placeholder="project description *" class="dc-ta-project-desc"></textarea>
							</div>
						</div>
						<div class="row dc-padding-10">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<textarea id="changeLog" placeholder="changelog" class="dc-ta-changelog"></textarea>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
						<div class="row dc-padding-10">
							<input type="hidden" id="_id"/><input type="hidden" id="fileCreatedBy"/>
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<span class="btn btn-success fileinput-button">
									<i class="fa fa-plus"></i>
									<span>add file</span>
									<input type="file" name="fileTest" id="selectFile" data-url="/upload" accept=".ipa, .apk"/>
								</span>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<button id="uploadBtn" type="button" class="btn btn-primary start">
									<i class="fa fa-upload"></i>
									<span>start upload</span>
								</button>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<button id="cancelUpload" type="button" class="btn btn-warning cancel">
									<i class="fa fa-close"></i>
									<span>cancel upload</span>
								</button>
							</div>
						</div>
						<div class="row upload-file dc-padding-10">
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<p id="fileName" class="name">File Name</p>
								<strong class="error text-danger"></strong>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<p id="fileSize" class="size">Processing...</p>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="progress">
									<div class="progress-bar progress-bar-success progress-bar-striped active" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="width:0%;" role="progressbar"></div>
								</div>
							</div>
						</div>
						<div class="row upload-file dc-padding-10">
							<input type="hidden" id="_retFileId"/>
							<input type="hidden" id="retFileVersionNo"/>
							<div class="col-xl-4 col-lg-5 col-md-4 col-sm-4 col-xs-6">
								<label class="dc-margin-top-5">to: </label>
								<input type="text" id="mailTo"/>
							</div>
							<div class="col-xl-4 col-lg-5 col-md-4 col-sm-4 col-xs-6">
								<label class="dc-margin-top-5">cc: </label>
								<input type="text" id="mailCC"/>
							</div>
							<div class="col-xl-4 col-lg-2 col-md-4 col-sm-4 col-xs-6">
								<button id="sendMail" type="button" class="btn btn-danger cancel">
									<i class="fa fa-paper-plane-o"></i>
									<span> send</span>
								</button>
							</div>
						</div>
						<div class="row upload-file dc-padding-10">
							<div class="dc-mail-note">The mail ids should be separated using semi colon (;).</div>
						</div>
						<div class="row upload-file dc-padding-10">
							<div class="dc-mail-note">* if <b> do not delete </b> is unchecked then the file will be automatically deleted after <b>10 days</b>.</div>
						</div>
					</div>
				</form>
			</div>
			<button id="addBtn" class="btn btn-success">
				<i class="fa fa-plus fa-lg"></i>
			</button>
		</div>
	</div>
</div>
<script src="/js/jquery/jquery.ui.widget.js"></script>
<script src="/js/jquery/jquery.fileupload.js"></script>
<script type="text/javascript" src="/js/devConsole.js"></script>
