<style>
	.row {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.row .col-lg-6, .row .col-md-6, .row .col-sm-6 {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex: 1 auto;
		-ms-flex: 1 auto;
		flex: 1 auto;
	}
	.product-wrap {
		width: 100%;
	}
</style>
{{#if file}}
<div class="top-head">
	<div class="top-head-h4-div">
		<h4>Talic App Store</h4>
	</div>
	{{#if file.isNotDownloadLink}}
	<div class="top-head-div">
		{{#if file.loggedInAs}}
		<a style="text-decoration: none; color: white;" href="/devConsole">
			<div style="padding-left: 10px; display: inline-block;">
				dev console
			</div>
		</a>
		<div style="padding-left: 10px; display: inline-block;">
			<button type="button" class="btn btn-danger btn-sm" onclick="logout()">
				<span>Logout</span>
			</button>
		</div>
		{{else}}
		<div class="loginAsDiv">
			<h4>login as: </h4>
		</div>
		<div class="loginFormWrapper">
			<div>
				<select id="username" name="username">
					<option value="dev">developer</option>
					<option value="admin">admin</option>
				</select>
			</div>
			<div>
				<input id="password" name="password" type="password" placeholder="Password"/>
			</div>
			<div>
				<button id="loginFormSubmit" type="button" class="btn btn-danger btn-sm" onclick="loginFormSubmit()">
					<span>Login</span>
				</button>
			</div>
		</div>
		{{/if}}
	</div>
	{{/if}}
</div>
<div class="container">
	<div class="products">
		<div class="row">
			{{#if file.files}}
			{{#each file.files}}
			<div class="col-sm-6 col-md-6 col-lg-6">
				<div class="product-wrap">
					<div class="img-circle center-block product-img glide">
						<h3><span style="width: 150px; word-wrap: break-word;">{{projectName}}</span></h3>
					</div>
					<div style="padding: 10px;">
						<p><b>Version No:</b> {{appVersionNumber}}</p>
						<p><b>Project Description:</b> {{projectDesc}}</p>
						<p><b>Size:</b> {{fileSize}}</p>
						<p><b>Uploaded By:</b> {{#if fileUpdatedBy}} {{fileUpdatedBy}} {{else}} {{fileCreatedBy}}{{/if}}</p>
						<p><b>Uploaded on:</b> {{#if fileUpdatedOn}} {{fileUpdatedOn}} {{else}} {{fileCreatedOn}}{{/if}}</p>
						<p><b>Total Downloads:</b> {{totalDownloads}}</p>
						<p><b>Last Downloaded On:</b> {{lastDownloadedOn}}</p>
						<p><b>Release Date:</b> {{fileUpdatedOn}} </p>
						<p><b>Release Note:</b> {{#if changeLog}}{{else}}Not avaliable{{/if}}</p>
						{{#if changeLog}}
						<ol>
						{{#each changeLog}}
							<li>{{this}}</li>
						{{/each}}
						</ol>
						{{/if}}
					</div>
					{{#if isapk}}
					<form id={{_id}} name={{_id}} method="GET" enctype="multipart/form-data" action="/download">
						<input type="hidden" name="_id" value="{{_id}}"/>
						<input type="hidden" name="filePath" value="{{filePath}}"/>
						<div class="text-center">
							<a class="btn android-icon" onclick="downloadFile('apk', this)"  style="color: white;">
								<i class="fa fa-android fa-lg"></i>
								Download for Android
							</a>
						</div>
					</form>
					{{else}}
					<form id={{_id}}>
						<input type="hidden" name="_id" value="{{_id}}"/>
						<div class="text-center">
							<a class="btn ios-icon" onclick="downloadFile('ipa', this)" href={{filePath}} style="color: white;">
								<i class="fa fa-apple fa-lg"></i>
								Download for iOS
							</a>
						</div>
					</form>
					{{/if}}
				</div>
			</div>
			{{/each}}
			{{else}}
			<h4 style="padding: 20px;"> No files available to download!</h4>
			{{/if}}
		</div>
	</div>
</div>
{{/if}}
<script src="/js/TalicAppStore.js"></script>
